.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cookies-and-icecream {
    display: flex;
    justify-content: space-around;
    
    border: solid grey;

}

.cookie-box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 48%;
}

.cookie-card img{
    width: 20rem;
}

.cookie-container {
    display: flex;
    flex-direction: column;
}

.ice-cream-box {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.ice-cream-container {
    display: flex;
    flex-direction: column;
}