.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookies-and-icecream {
    display: flex;
    justify-content: space-between;
}

.cookie-box {
    display: flex;
    flex-direction: column;
}

.cookie-container {
    display: flex;
    flex-direction: column;
}

.ice-cream-box {
    display: flex;
    flex-direction: column;
}

.ice-cream-container {
    display: flex;
    flex-direction: column;
}